workflow.json
{
  "name": "Lab03goldbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gold-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7da23d70-2884-424c-8348-179f5846454c",
      "name": "Webhook",
      "webhookId": "862e606d-b432-460b-a6ed-cd2dcee05a92"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1894062-43e5-4700-8ca5-fabe325523a0",
              "leftValue": "={{ $json.body.events[0].message.text }}",
              "rightValue": "ราคาทอง",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c8b7435b-9693-4b50-aae7-482de67a3dcb",
              "leftValue": "={{ $json.body.events[0].message.text }}",
              "rightValue": "ทอง",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "072151ac-861c-4a85-aa65-c12ddc4dcd08",
              "leftValue": "={{ $json.body.events[0].message.text }}",
              "rightValue": "gold",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "17633969-f724-41ad-8d68-d7e496817bf2",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.chnwt.dev/thai-gold-api/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "3592f54c-6e0b-4740-8588-f858acec76ab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const goldData = $input.first().json;\nconst lineEvent = $('Webhook').first().json.body.events[0];\nconst response = goldData.response;\n\nconst message = `📊 ราคาทองวันนี้\n━━━━━━━━━━━━━━━\n📅 ${response.update_date} ${response.update_time}\n🏆 ทองคำแท่ง 96.5%\n   💰 ขายออก: ${response.price.gold_bar.sell} บาท\n   💵 รับซื้อ: ${response.price.gold_bar.buy} บาท\n💍 ทองรูปพรรณ 96.5%\n   💰 ขายออก: ${response.price.gold.sell} บาท\n   💵 รับซื้อ: ${response.price.gold.buy} บาท\n📌 ข้อมูลจากสมาคมค้าทองคำ`;\n\nreturn [{\n  json: {\n    replyToken: lineEvent.replyToken,\n    messages: [{\n      type: \"text\",\n      text: message\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "6910e382-33e0-473e-a9ab-be3fac2858f1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "5afba4d9-385e-45ed-8810-74fc20443f76",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uoDULzroEAlP2DaT",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8e5aeffe-91ba-438e-ad7d-a7421240e0e2",
  "meta": {
    "instanceId": "5c473de301fbced0818ccf661ee0c65b4de9ec81366f69f8bace0584c22acce7"
  },
  "id": "jU32V_prd4Aj4hjYkTmIQ",
  "tags": []
}
